.container {
  padding-left: 8vw;
  padding-right: 8vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}
