.footer {
  margin-top: 80px;
  margin-bottom: 100px;
  p {
    color: var(--c-secondary);
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;

    a {
      color: var(--c-primary);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;

    li {
      a {
        color: var(--c-secondary);
        padding: 12px;
        display: flex;

        &:hover {
          color: var(--c-primary);
        }
      }
    }
  }
}
