.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolioLarge {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 30px;
  }

  & > .portfolioImage {
    border-radius: 8px;
    overflow: hidden;
  }
}

.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 80px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.portfolioSmall {
  background-color: #fff6f2;
  border-radius: 8px;

  header {
    padding: 2rem 1.5rem;

    h3 {
      color: #222222;
    }
  }
}

.dribble {
  width: 100%;
  color: #ea4c8a;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  span {
    background-color: #ea4c8a;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    align-self: center;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}
